<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Ваша корзина</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <div id="cart-items">
          <%= render 'carts/cart_items', cart_items: @cart_items %>
        </div>
        <% if current_user %>
          <%= button_to 'Оформить заказ', orders_path, method: :post, class: 'btn custom-red-btn w-100 me-5' %>
        <% else %>
          <%= link_to 'Оформить заказ', new_user_path(order_now: true), class: 'btn custom-red-btn w-100 me-5' %>
        <% end %>

      </div>
    </div>
  </div>
</div>

